.formations{
  margin: 0;
  padding:0;
  font-family: 'quicksand', sans-serif;
  height: 80%;

}
.container{

  max-width: 300vw;
  margin: 25vh auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 0vw;
  margin-left: 10vw;

}
.card{
  position: relative;
  margin: 30px 0;
  width: 290px;
  height: 450px;
  background: #120E4D;
  color: white;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  transition: 1s;
  box-shadow: inset 300px 0 50px #120E4D;
   box-shadow: 1px 1px 20px #178CEE;
margin-left: -5vw;

}
.card:hover{
  z-index: 1000;
transform: perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgba(0, 0, 0,0.5);
}
h2{
  color: black;
  text-align: center;
}
.titre{
  padding-bottom: 5vh;
  margin-top: 5vh;
  text-align: center;
  color: #178CEE;
  font-weight: bold;
}
.cont{
  margin-left: 2vw;
}
.card .imgBox{
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  box-sizing: border-box;
  transform-origin: left;
  z-index: 1;
  transition: 1s;

}
.image{
  width: 100%;
  height: 100%;
}
.card:hover .imgBox{
transform: rotateY(-135deg);
}
.card .imgBox .img{
position: absolute;
top:0;
left:0;
width: 90%;
height:100%;
object-fit: cover;
}
.card .details{
  position: absolute;
  width: 80%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 20px;
}
.textformation{
  z-index: 2;
  margin-top: -1rem;
  color: lightsteelblue;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: "Monument Extended";
  font-size: 5rem;
  margin-left:-12vw;
  letter-spacing: 1px;
}
.textformation h2{
  -webkit-text-stroke: 3px  #178CEE;
  color:#120E4D;

}
.texthori{
  display: none;
}
.texthorif{
  display: none;
}
@media  (max-width: 435px) {

  .textformation{
    display: none;
  }
  .texthorif {
      display: block;
      z-index: 2;
      position: absolute;
      margin-top: -13rem;
      color: #178CEE;
      text-orientation: mixed;
      font-family: "Monument Extended";
      font-size: 4rem;
      margin-left: -1rem;
      letter-spacing: 1px;
      padding-top: 10vh;
      padding-bottom: 10vh;
  }
  .texthorif h2{
          -webkit-text-stroke: 3px  #178CEE;
          color:#120E4D;
          margin-left: 15vw;
    margin-top: -10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;

}
}
