
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
*{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/*************menu********************/
.navbar{
  margin-left: -35vw;
  margin-top: 10vh;
  margin-bottom: 15vh;

}
#srcimg{
  position: fixed;
  right: 0;
  margin-top: 0rem;
  z-index: 4;
  z-index: 1000;

}
.navbar ul{
  margin-top: -7rem;;
  margin-left: 80vw;
  padding-bottom: 5rem;
  display: flex;
}
.navbar ul li{
  list-style: none;
  margin: 0 20px;
  margin-top: 10rem;
  transition: 0.5s;

}
.navbar ul li a{
  display: block;
  position: relative;;
  text-decoration: none;
  padding: 5px;
  font-size: 15px;
  font-family: sans-serif;
  color: gray;
  text-transform: uppercase;
  transition: 0.5s;
}
.navbar ul:hover  li a {
  transform: scale(1.5);
  opacity: .2;
  filter: blur(5px);
}


.navbar ul li a:hover  {
  transform: scale(2);
  opacity: 1;
  filter: blur(0);
}
.navbar ul li a:before  {
content: '';
position: absolute;
top: 0 ;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 255, 0.1);
border-radius: 9px;
transition: 0.5s;
transform-origin: right;
transform: scale(1);
z-index: -1;
}

/*************fin menu*************/
.zoom{
  width: 100%;
  height: 57rem;
  position: relative;
  overflow:hidden;
background: url(imbo/pl.jpeg);
background-size: cover;
padding-bottom: 5rem;

}
.zoom::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  z-index: 100;
  background: linear-gradient(transparent,white );
}
.zoom #layer1{
  position: absolute;
  left: 40%;
  width: 100%;
  margin-top: -8rem;
  transform: translateX(-50%);
  z-index: 80;
}
.zoom #layer2{
  position: absolute;
  right: 0;
  margin-top: 0rem;
  width: 100%;
  z-index: 4;
}
.zoom #text{
  position: absolute;
  right: 0;
  width: 100%;
  transform: translateY(33%);
}
@media  (max-width: 1214px) {
  .zoom #layer1{
    margin-top: -3rem;

  }
  #logo{
  margin-left: 30%;
  margin-top: -32vh;


  }
}
@media  (max-width: 1093px) {
  .zoom #layer1{
    margin-top: 1vh;

  }
  #logo{
  margin-left: 30%;
  }
}
@media  (max-width: 1017px) {
  .zoom #layer1{
    margin-top: 10vh;

  }
  .zoom #layer2{
    margin-top: 4rem;
  }
  #logo{
  margin-left: 20%;
  margin-top: -30vh;


  }
}
@media  (max-width: 980px) {
  .zoom #layer1{
    margin-top: 20vh;

  }
  .zoom #layer2{
    margin-top: 10rem;
  }
}

@media  (max-width: 815px) {
  .zoom #layer1{
    margin-top: 25vh;

  }
  .zoom #layer2{
    margin-top: 13rem;
  }
}
@media  (max-width: 771px) {
  .zoom #layer1{
    margin-top: 30vh;

  }
  .zoom #layer2{
    margin-top: 18rem;
  }
}
@media  (max-width: 712px) {
  .zoom #layer1{
    margin-top: 36vh;

  }
  .zoom #layer2{
    margin-top: 20rem;
  }
}
@media  (max-width: 656px) {
  .zoom #layer1{
    margin-top: 38vh;

  }
  .zoom #layer2{
    margin-top: 23rem;
  }
}
@media  (max-width: 635px) {
  .zoom #layer1{
    margin-top: 42vh;
    left: 50%;


  }
  .zoom #layer2{
    margin-top: 20rem;
  }
}
@media  (max-width: 589px) {
  .zoom #layer1{
    margin-top: 48vh;
    left: 50%;


  }
  .zoom #layer2{
    margin-top: 22rem;
  }
}
@media  (max-width: 536px) {
  .zoom #layer1{
    margin-top: 54vh;
    left: 50%;


  }
  .zoom #layer2{
    margin-top: 26rem;
  }
}
@media  (max-width: 435px) {
  .zoom #layer1{
    margin-top: 60vh;
    left: 50%;


  }
  .zoom #layer2{
    margin-top: 30rem;
  }
}
@media  (max-width: 378px) {
  .zoom #layer1{
    margin-top: 64vh;
    left: 53%;


  }
  .zoom #layer2{
    margin-top: 34rem;
  }
}
@media  (max-width: 353px) {
  .zoom #layer1{
    margin-top: 69vh;
    left: 50%;


  }
  .zoom #layer2{
    margin-top: 34rem;
  }
}
.content{
  margin-top: 20rem;
  padding: 100px;
  box-sizing: border-box;
  font-family: consolas;


}
.accueil{
  margin-left: 1rem;
    margin-top: 5vh;
    font-size: 3.8em;
}
.content h2{
  margin: 0;
  padding: 0;
  font-size: 6em;
}
.content p{
  font-size:1.2em;
}
/**********************texte************************/
.titremoi{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
margin-top: 14rem;
  z-index: 3;
}
.sec{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5rem;
}
.sec .titre1{
color: gray;
font-size: 6.5rem;
text-transform: uppercase;
margin-top: -28rem;
}
.titre1::before{
  content: attr(data-text);
  position: absolute;
  margin-top: 0rem;
  left: 23.5vw;
  transform-origin: bottom;
  transform: rotateX(180deg);
  line-height: 0.865em;
  background: linear-gradient(0deg, gray 0, transparent 80%);
  -webkit-background-clip:text;
  color: transparent;
  opacity: 0.5;
}
.content h2{
    margin-left: 20rem;
    margin-top: -6rem;
    font-size: 2rem;
}
#logo{
margin-left: 37%;
margin-top: -32vh;


}
#bird{
  margin-top: -17rem;
}
#bird1{
  margin-top: -50rem;
  margin-left:70rem;
}
/**************formation***************/
.forma{

  z-index: 100;

}
.formaslide{
  height: 100vh;
  margin-top: 8rem;
  background-color: #120E4D;
  opacity: 0.9;
}
/*************footer*****************/
.foote{
  margin-top: -41vh;
  height: 40vh;
  background-color: #178CEE;
  z-index: 0;

}
.mes{
  color: #120E4D;
  font-weight: bold;
}
.nomfooter{
  position: absolute;
  color: white;
  margin-top: 25vh;
  margin-left: 9vw;
display: flex;

}
.droit{
  margin-left: 20vw;
}
.nomfooter1{
  position: absolute;
  color: white;
  margin-top: 24vh;
  margin-left: 79vw;


}
